{% load filtersandtags %}

<div class="col-12 col-lg-4">
    <div class="cart-summary">
        <h5>Total count: {{ total_tasks_count }}</h5>
        <ul class="summary-table">
            <li><span>not started:</span>
                <span>{{ not_started_tasks_count }} -
                    ({% statistic total_tasks_count not_started_tasks_count as ns_percentage %}
                    {{ ns_percentage|stat_color}})
                </span></li>
            <li><span>in progress:</span>
                <span>{{ in_process_tasks_count }} -
                    ({% statistic total_tasks_count in_process_tasks_count as ip_percentage %}
                    {{ ip_percentage|stat_color}})
                </span></li>
            <li><span>done:</span>
                <span>{{ done_tasks_count }} -
                    ({% statistic total_tasks_count done_tasks_count as done_percentage %}
                    {{ done_percentage|stat_color}})
                </span></li>
        </ul>
    </div>
</div>